/* Write your CSS here */
.suggestion-item-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  list-style-type: none;
}
.suggestion {
  color: #475569;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}

.go-button {
  border-width: 0;
  background-color: transparent;
  cursor: pointer;
}

.left-arrow-img {
  width: 20px;
  height: 20px;
}
